/* nav {
    background-color: #030303;
    padding: 2rem 0;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
        list-style: none;
        
       
            font-family: 'space mono', monospace;
            font-weight: 700;
            font-size: clamp(1.5rem, 10vw, 2rem);
            text-transform: uppercase;
            color: white;
            text-decoration: none;
            margin: 0 1rem;
     
    }
} */